
@{
    ViewBag.Title = "Listele";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!--Content Header (Page Header)-->
<section class="content-header">
    <div class="container-fluid">
        <div class="row mb-2">
            <div class="col-sm-6">
                <h2>Alınacak Ürünler</h2>
            </div>
        </div>
    </div>
</section>
<!--Content Header Ending (Page Header)-->
<!--İş Ekle Modal'ı-->
<div class="card-body">
    <button type="button" class="btn btn-dark" data-toggle="modal" data-target="#modal-default">
        <i class="fa-solid fa-plus"></i>  Yeni Ürün Ekle
    </button>
</div>

<div class="modal fade" id="modal-default">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Yeni Ürün Ekle</h4>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form action="/Home/Kaydet" method="post">
                    <div class="form-group">
                        <label for="exampleInputUrunAdi">Ürün Adı</label>
                        <input type="text" name="txtUrunAdi" class="form-control" id="exampleInputUrunAdi" placeholder="Lütfen Ürünü Giriniz">
                        <label for="exampleInputUrunAdet">Ürün Adeti</label>
                        <input type="text" name="txtUrunAdet" class="form-control" id="exampleInputUrunAdet" placeholder="Lütfen Ürünün Adetini Giriniz">
                    </div>
            </div>
            <div class="modal-footer justify-content-between">
                <button type="submit" class="btn btn-success">Kaydet</button>
                </form>
                <button type="button" class="btn btn-danger" data-dismiss="modal">Kapat</button>
            </div>
        </div>
        <!-- /.modal-content -->
    </div>
    <!-- /.modal-dialog -->
</div>
<!--İş Ekle Modal'ı-->
<!--İşlerin Listesi-->
<div class="card-body">
    <table id="example2" class="table table-bordered table-hover">
        <thead>
            <tr>
                <th>No</th>
                <th>Ürün Adı</th>
                <th>Ürün Adeti</th>
                <th>Durum</th>
                <th>Oluşturulma Tarihi</th>
                <th>Bitiş Tarihi</th>
                <th>İşlemler</th>
            </tr>
        </thead>
        <tbody>
            @foreach (ToDoApp.Models.urunler item in ViewBag.urunler)
            {               

                string tamamlandigi_tarih;
                string durumParametre = "";

                if (item.tamamlandigi_tarih.ToString() == "")
                {
                    tamamlandigi_tarih = "-";
                }
                else
                {
                    tamamlandigi_tarih = item.tamamlandigi_tarih.ToString();
                }

                if (Convert.ToInt32(item.durum) == 1)
                {
                    item.durum = "Devam Ediyor";
                }
                else
                {
                    item.durum = "Bitti";
                    durumParametre = "disabled";
                }
                string Sil = "Sil" + item.urun_id;
                string Kapat = "Kapat" + item.urun_id;
                string Duzenle = "Duzenle" + item.urun_id;
                <tr>
                    <td>@item.urun_id</td>
                    <td>@item.urun_adi</td>
                    <td>@item.urun_adet</td>
                    <td>@item.durum</td>
                    <td>@item.olusturuldugu_tarih</td>
                    <td>@tamamlandigi_tarih</td>
                    <td>
                        <button class="btn btn-danger" data-toggle="modal" data-target="#@Sil"><i class="fa fa-eraser"></i> Sil</button>
                        <button class="btn btn-primary" data-toggle="modal" data-target="#@Duzenle"><i class="fa fa-save"></i>Düzenle</button>
                        <button @durumParametre class="btn btn-success" data-toggle="modal" data-target="#@Kapat"><i class="fa fa-check"></i> Ürünü Kapat</button>
                        <!--Sil Modal'ı-->
                        <div class="modal fade" id="@Sil">
                            <div class="modal-dialog">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <h4 class="modal-title">Silme İşlemi   <i class="fa-solid fa-exclamation"></i></h4>
                                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                            <span aria-hidden="true">&times;</span>
                                        </button>
                                    </div>
                                    <div class="modal-body">
                                        <div class="form-group">
                                            <label for="exampleInputUrunAdi">Silmek istediğinize emin misiniz!</label>
                                        </div>
                                    </div>
                                    <div class="modal-footer justify-content-between">
                                        <a href="/Home/Sil/@item.urun_id" class="btn btn-danger"><i class="fa fa-eraser"></i> Sil</a>
                                        <button type="button" class="btn btn-dark" data-dismiss="modal"><i class="fa fa-close"></i> Kapat</button>
                                    </div>
                                </div>
                                <!-- /.modal-content -->
                            </div>
                            <!-- /.modal-dialog -->
                        </div>
                        <!--Sil Modal'ı-->
                        <!--Kapat Modal'ı-->
                        <div class="modal fade" id="@Kapat">
                            <div class="modal-dialog">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <h4 class="modal-title">Kapatma İşlemi   <i class="fa-solid fa-exclamation"></i></h4>
                                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                            <span aria-hidden="true">&times;</span>
                                        </button>
                                    </div>
                                    <div class="modal-body">
                                        <div class="form-group">
                                            <label for="exampleInputIsinAdi">Kapatmak istediğinize emin misiniz!</label>
                                        </div>
                                    </div>
                                    <div class="modal-footer justify-content-between">
                                        <a href="/Home/IsKapat/@item.urun_id" class="btn btn-success"><i class="fa fa-check"></i> Kapat</a>
                                        <button type="button" class="btn btn-dark" data-dismiss="modal"><i class="fa fa-close"></i> Kapat</button>
                                    </div>
                                </div>
                                <!-- /.modal-content -->
                            </div>
                            <!-- /.modal-dialog -->
                        </div>
                        <!--Kapat Modal'ı-->
                        <!--Düzenle Modal'ı-->
                        <div class="modal fade" id="@Duzenle">
                            <div class="modal-dialog">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <h4 class="modal-title">Düzenle İşlemi</h4>
                                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                            <span aria-hidden="true">&times;</span>
                                        </button>
                                    </div>
                                    <form action="/Home/Duzenle" method="post">
                                        <div class="modal-body">
                                            <div class="form-group">
                                                <label for="exampleInputUrunAdi">Ürün Adı</label>
                                                <input type="text" name="id" hidden value="@item.urun_id" />
                                                <input type="text" name="txtUrunAdi" value="@item.urun_adi" class="form-control" id="txtUrunAdi" placeholder="Lütfen ürünü yazın">
                                            </div>
                                        </div>
                                        <div class="modal-footer justify-content-between">
                                            <button type="submit" class="btn btn-success"><i class="fa fa-save"></i> Kaydet</button>
                                            <button type="button" class="btn btn-default" data-dismiss="modal"><i class="fa fa-close"></i> Kapat</button>

                                        </div>
                                    </form>
                                </div>
                                <!-- /.modal-content -->
                            </div>
                            <!-- /.modal-dialog -->
                        </div>
                        <!--Düzenle Modal'ı-->
                    </td>
                </tr>
            }
        </tbody>
        <tfoot>
            <tr>
                <th>No</th>
                <th>Ürün Adı</th>
                <th>Ürün Adet</th>
                <th>Durum</th>
                <th>Oluşturulma Tarihi</th>
                <th>Bitiş Tarihi</th>
                <th>İşlemler</th>
            </tr>
        </tfoot>
    </table>
</div>
<!--İşlerin Listesi-->
