
@{
    ViewBag.Title = "TamamlanmisIsListele";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!--Content Header (Page Header)-->
<section class="content-header">
    <div class="container-fluid">
        <div class="row mb-2">
            <div class="col-sm-6">
                <h2>Alınmış Ürünler</h2>
            </div>
        </div>
    </div>
</section>
<!--Content Header Ending (Page Header)-->
<!--İşlerin Listesi-->
<div class="card-body">
    <table id="example2" class="table table-bordered table-hover">
        <thead>
            <tr>
                <th>No</th>
                <th>Ürün Adı</th>
                <th>Ürün Adet</th>
                <th>Durum</th>
                <th>Oluşturulma Tarihi</th>
                <th>Bitiş Tarihi</th>
                <th>İşlemler</th>
            </tr>
        </thead>
        <tbody>
            @foreach (ToDoApp.Models.urunler item in ViewBag.urunler)
            {
                string tamamlandigi_tarih;

                if (item.tamamlandigi_tarih.ToString() == "")
                {
                    tamamlandigi_tarih = "-";
                }
                else
                {
                    tamamlandigi_tarih = item.tamamlandigi_tarih.ToString();
                }

                if (Convert.ToInt32(item.durum) == 1)
                {
                    item.durum = "Devam Ediyor";
                }
                else
                {
                    item.durum = "Bitti";
                }
                string TekrarAktif = "TekrarAktif" + item.urun_id;
                <tr>
                    <td>@item.urun_id</td>
                    <td>@item.urun_adi</td>
                    <td>@item.urun_adet</td>
                    <td>@item.durum</td>
                    <td>@item.olusturuldugu_tarih</td>
                    <td>@tamamlandigi_tarih</td>
                    <td><a href="/Home/TekrarAktif/@item.urun_id" class="btn btn-warning">Ürünü Tekrar Aktif Et</a></td>                    
                </tr>
            }
        </tbody>
        <tfoot>
            <tr>
                <th>No</th>
                <th>Ürün Adı</th>
                <th>Ürün Adet</th>
                <th>Durum</th>
                <th>Oluşturulma Tarihi</th>
                <th>Bitiş Tarihi</th>
                <th>İşlemler</th>
            </tr>
        </tfoot>
    </table>
</div>
<!--İşlerin Listesi-->
